<h1>Welcome to Frequency</h1>
<form action="/frequency">
  <div class="form-group">
    <label for="frequency">Enter a word, a comma, and a sentence to discover the frequency of the word inside the sentence.</label>
    <p><input id="frequency" name="frequency" class="form-control" type ="text"></p>
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
